@model CawCaw.Views.Home.Index

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Index">
                <div class="form-group">
                    <textarea asp-for="InputText" class="form-control" ></textarea>
                    <span asp-validation-for="InputText" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
    <br />
}

@foreach (var post in Model.Posts.OrderByDescending(post => post.Timestamp))
{
    <br />
    <div class="row">
        <div class="col">
            <h5>@post.Author.DisplayName</h5>
            <h6>&commat;@post.Author.UserName</h6>
            <p>
                @post.PostText
            </p>
            <span>@post.Timestamp.ToString()</span>
        </div>
    </div>
    <br />
}

